In [2]:
#Supervised:Regression
#Insurance Premium : Predicting insurance premium

import pandas as pd
df=pd.read_csv("insurance.csv")
from sklearn.model_selection import train_test_split

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [108]:
df.shape

(1338, 7)

In [109]:
df.replace({'sex':{'male':0,'female':1}}, inplace=True)

In [110]:
df.replace({'smoker':{'yes':0,'no':1}}, inplace=True)

In [111]:
df.replace({'region':{'southeast':0,'southwest':1, 'northeast':2,'northwest':3}}, inplace= True)

In [112]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    0  33.770         1       1       0   1725.55230
2   28    0  33.000         3       1       0   4449.46200
3   33    0  22.705         0       1       3  21984.47061
4   32    0  28.880         0       1       3   3866.85520

In [113]:
y=df.charges

In [114]:
x=df.drop(columns=['charges'])

In [115]:
x.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region'], dtype='object')

In [119]:
#Splitting the data into training data and testing data,
# test_size = how much data you want in test data. here 20%
# 80% = training data
# random_state = split data into 2(same manner) ie, training data, tesing data.
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=2)

In [120]:
from sklearn.linear_model import LinearRegression

In [121]:
model= LinearRegression()

In [122]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [127]:
model.score(x_train,y_train)

0.751505643411174

In [131]:
model.predict([[32,0,28.880,0,1,3]])

array([5660.26542737])

In [130]:
model.predict([[18,0,33.770,1,1,0]])

array([3701.06157802])